@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'congruency3d';
    src: url('fonts/congruency3d-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    padding-bottom: 100px;
}
body {
  margin: 0;
  background-color: rgb(37, 37, 37);
  font-family: "Noto Sans KR", "noto sans sc";
  font-weight: 500;
}

input:focus{
    outline: none;
}
input::placeholder{
    color: black;
    opacity: 1;
    margin-left: 2px;
    font-family: "noto sans kr";
    font-weight: 300;
}
.chasearch::placeholder{
    color: black;
    opacity: 1;
    margin-left: 2px;
    font-size: 10pt;
    padding-left: 5px;
    font-weight: 400;
}
.S_search1::placeholder{
    color: gray;
}
button:focus{
    outline: none;
}
button:hover{
    cursor: pointer;
}
.tabHeaders :hover{
    cursor: pointer;
}
.S_search3 :hover{
    cursor: pointer;
    background-color:  rgba(0,0,0,0);
}
/* 1page */
.banner {
    background-color: rgb(83, 83, 83);
    width: 100%;
    height: 450px;
    text-align: center;
}
.language {
    width: 150px;
    padding-left: 10px;
    padding-top: 15px;
    text-align: left;
    float: left;
}
.langaugelogo{
    width: 25px;
    float: left;
}
.langaugebutton{
    width: 90px;
    border-color: rgba(0,0,0,0);
    background-color: rgb(83, 83, 83);
    border-radius: 0px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 3px;
    margin-top: -3px;
}
.langaugebutton2{
    width: 90px;
    background-color:  rgba(0,0,0,0);
    border-radius: 3px;
    font-size: 17px;
}
.banner-top {
    width: 1152px;
    margin: auto;
}
.logo {
    width: 400px;
    padding-top: 15px;
    margin-left: -150px;
}
.menubutton{
    border-color: rgba(0,0,0,0);
    background-color:  rgba(0,0,0,0);
    border-radius: 0px;
    font-size: 15px;
    font-weight: bold;
}
.banner-menu{
    margin: auto;
    width: 1130px;
}
.banner-botton{
    word-spacing: 20px;
    width: 565px;
    float: left;
    text-align: left;
}
.Data-period{
    width: 565px;
    float: right;
    text-align: right;
    margin-top: 5px;
    margin-right: -10px;
}
.main{
    text-align: center;
    margin: auto;
    margin-top: 25px;
    width: 1152px;
    background-color: rgb(83, 83, 83);
}
.main-left{
    float: left;
    width: 390px;
    border-radius: 3px;
}
.search{
    background-color: rgb(83, 83, 83);
    width: 390px;
    height: 37px;
    border-radius: 3px;
}
.search1{
    width: 303px;
    height: 22px;
    float: left;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    font-size: 13pt;
    margin-top: 6px;
}
.search2{
    border-color: rgba(0,0,0,0);
    background-color:  rgb(120, 120, 120);
    border-radius: 0px;
    height: 37px;
    width: 71px;
    font-size: 13pt;
    font-weight: bold;
    border-radius: 3px;
    
}
.cha{
    margin-top: 7px;
    background-color: rgb(83, 83, 83);
    width: 390px;
    height: auto;
    padding-bottom: 20px;
    border-radius: 3px;
}
.cha0{
    background-color: rgb(120, 120, 120);
    width: 390px;
    height: 36px;
    font-size: 17pt;
    padding-top: 5px;
    border-radius: 3px 3px 0px 0px / 3px 3px 0px 0px ;
    border-bottom: 4px solid rgb(244,216,35);
}
.cha1{
    margin-top: 6px;
    height: 30px;
}

.cha2{
    padding-top: 3px;
}
.chasearch{
    float: right;
    border-color: rgba(0,0,0,0);
    background-color: rgb(83, 83, 83);
    padding-right: 5px;
    width: 310px;
    height: 16px;
    border-radius: 3px;
    margin-top: 3px;
    margin-right: 34px;
    padding-bottom: 4px;
    border-bottom: 3px solid rgb(120, 120, 120);
}
.cha3{
    word-spacing: 13px;
    padding-top: 15px;
    clear: right;
}
.cha4{
    margin-top: 10px;
}
.chaimg{
    width: 95px;
    background-color: rgb(120, 120, 120);
}
.chaimg-blank{
    width: 95px;
}
.main-right{
    float: right;
    background-color: rgb(83, 83, 83);
    width: 750px;
    height: auto;
    padding-bottom: 10px;
    border-radius: 0px 0px 3px 3px / 0px 0px 3px 3px ;
}
.rank0{
    height: 44px;
    font-family: 'Big Shoulders Stencil Display';
}
.rank0-1{
    float: right;
    width: 450px;
    text-align: center;
    font-size: 23pt;
    padding-top: 4px;
    word-spacing: 20px;
}
.rank0-2{
      float: right;
      width: 150px;
      padding-top: 0px;
      font-size: 11pt;
      
}
.rank1{
    background-color: rgb(120, 120, 120);
    height: 45px;
    border-radius: 3px 3px 0px 0px / 3px 3px 0px 0px ;
}
.rank2{
    margin-top: 6px;
    background-color: rgb(120, 120, 120);
    height: 30px;
}

.rank3{
    padding-top: 3px;
    text-align: left;
    font-size: 9pt;
    font-weight: 400;
    height: 20px;
}
.rank-1{
    margin-top: 3px;
    background-color:  rgb(120, 120, 120);
    text-align: left;
}
.rank3rank{
    display: inline-block;
    width: 75px;
    text-align: center;
}
.rank3cha{
    display: inline-block;
    width: 180px;
    text-align: center;
}
.rank3weapon{
    display: inline-block;
    width: 50px;
    text-align: center;
}
.rank3tier{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3win{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3pick{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3kill{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3avg{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3rank1{
    text-align: center;
    vertical-align: middle;
    font-family: 'congruency3d';
    font-size: 20pt;
    display: inline-block;
    width: 90px;
    margin-left: -5px;
}
.rank3Updown{
    text-align: center;
    vertical-align: middle;
    width: 10px;
    margin-left: -20px;
}
.rank3Updown1{
    text-align: center;
    font-size: 10pt;
    display: inline-block;
    width: 5px;
    margin-left: -2px;
    margin-right: 25px;
}
.rank3cha1{
    vertical-align: middle;
    width: 100px;
    margin-left: 5px;
}
.rank3weapon1{
    vertical-align: middle;
    width: 42px;
    border-radius: 7px;
    margin-left: 41px;
}
.rank3tier1{
    vertical-align: middle;
    width: 45px;
    margin-left: 21px;
}
.rank3win1{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    margin-left: 18px;
}
.rank3pick1{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
}
.rank3kill1{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 74px;
}
.rank3avg1{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
}
/*
.tabHeaders a {
    text-align: center;
    color: rgb(0, 0, 0);
    
}
.tabHeaders a:hover {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
.tabHeaders .actived {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #000000;
}
*/
.tabHeaders .actived {
    border-bottom: 4px solid rgb(244,216,35);
    color:  black;
}
.tabHeader0 {
    width: 75px;
    float: left;
    font-size: 12pt;
    padding-top: 21px;
    color: rgb(39, 39, 39);
}
.tabHeader1 {
    width: 249.75px;
    float: left;
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 16pt;
    color: rgb(39, 39, 39);
}
.tabHeader2 {
    width: 150px;
    float: left;
    padding-top: 4px;
    padding-bottom: 1px;
    font-size: 11pt;
    color:  rgb(39, 39, 39);
}
.tabHeader3 {
    width: 40px;
    float: left;
    margin-top: 4px;
    margin-left: 8px;
    padding-bottom: 2px;
}
.tri{
    width: 0px;
    height: 0px;
    border-bottom: 22px solid transparent;
    border-left: 22px solid rgb(244,216,35);
    float: left;
    margin-top: 2px;
    margin-left: 2px;
  }
 .trirank{
    width: 0px;
    height: 0px;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(244,216,35);
    float: left;
    margin-right: 8px;
    margin-top: 0px;
    margin-left: -10px;
  }
  .trisearch{
    width: 0px;
    height: 0px;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(244,216,35);
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: -8px;
  }
/* 2page */
.S_banner{
    background-color: rgb(83, 83, 83);
    height: 80px;
    text-align: center;
}
.S_banner-top{
    width: 1152px;
    margin: auto;
}
.S_mainlogo {
    width: 100px;
    float: left;
}
.S_logo {
    width: 80px;
    padding-top: 0px;
    margin-left: 376px;
}
.S_search{
    background-color: rgb(37, 37, 37);
    float: right;
    margin-top: 45px;
    height: 30px;
    width: 300px;
    border-radius: 3px;
}
.S_search1{
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    font-size: 11pt;
    margin-top: 5px;
    float: left;
    width: 300px;
    padding-left: 10px;
    color:gray;
}
.S_search3{
    background-color: rgb(83, 83, 83);
    position: absolute;
    margin-top: 77px;
    margin-left: 852px;
    width: 300px;
    font-size: 13pt;
    padding-top: 1px;
    padding-bottom: 3px;
    text-align: left;
    box-shadow: 0px 3px 3px 3px;
    border-radius: 3px;
}
.S_search4{
    width: 300px;
    height: 45px;
    background-color: rgb(120, 120, 120);
    margin-top: 2px;
}
.searchimg{
    height: 45px;
    margin-left: 30px;
    margin-right: 20px;
    float: left;
}
.searchfont{
    display: inline-block;
    width: 125px;
    padding-top: 8px;
    float: left;
    font-weight: 400;
    text-align: center;
}
.S_main{
    width: 1152px;
    margin: auto;
    margin-top: 40px;
}
.S_top{}
.S_top-cha{
    width: 180px;
    height: 235px;
    background-color: rgb(83, 83, 83);
    float: left;
    border-radius: 3px;
}
.S_top-cha1{
    width: 180px;
    background-color: rgb(120, 120, 120);
}
.S_top-cha2{
    width: 70px;
    margin-top: -6px;
}
.S_top-cha3{
    display: inline-block;
    margin-top: 5px;
    margin-left: -7px;
    width: 120px;
    font-size: 17pt;
    text-align: center;
    position: absolute;
}
.tabHeader4{
    width: 70px;
    height: 100px;
    background-color: rgb(83, 83, 83);
    float: left;
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 110px;
}
.S_top-weapon1{
    width: 70px;
    background-color: rgb(120, 120, 120);
}
.S_top-weapon2{
    display: inline-block;
    margin-top: -5px;
    margin-left: 2px;
    width: 70px;
    font-size: 15pt;
    text-align: center;
    color: black;
}
.S_top-stat{
    width: 170px;
    height: 25px;
    float: right;
    margin-left: 10px;
    margin-top: 110px;
}
.S_top-stat1{
    width: 170px;
    height: 25px;
    background-color: rgb(83, 83, 83);
    float: right;
    text-align: center;
    border-radius: 2px;
}
.S_top-stat2{
    clear: both;
    float: left;
    text-align: left;
    margin-left: 11px;
    margin-top: 7px;
    color: rgb(189, 189, 189);
    font-weight: 300;
    font-size: 11pt;
}
.S_top-stat3{
    float: right;
    text-align: center;
    margin-right: 11px;
    margin-top: 7px;
    color: rgb(189, 189, 189);
    font-weight: 300;
    font-size: 11pt;
}
.S_Data-period{
    width: 565px;
    clear: both;
    float: right;
    text-align: right;
}
.S_left{
    width: 750px;
    clear: both;
    padding-top: 10px;
    float: left;
}
.S_Trend{
    height: 450px;
    background-color: rgb(83, 83, 83);
    text-align: center;
    border-radius: 3px;
}
.S_Trend0{
    width: 750px;
    height: 40px;
    font-family: "Big Shoulders Stencil Display";
    font-size: 23pt;
    padding-top: 5px;
    float: right;
}
.S_Trend_Text{
}
.S_Trend_tab{
    font-family: "Big Shoulders Stencil Display";
    float: right;
    padding-top: 0px;
    margin-left: -150px
}
.tabHeader5{
    width: 75px;
    float: left;
    padding-top: 17px;
    color: rgb(39, 39, 39);
    font-size: 12pt;
}
.S_Trend1{
    height: 45px;
    background-color: rgb(120, 120, 120);
    clear: both;
}
.tabHeader6{
    width: 250px;
    float: left;
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 16pt;
    color: rgb(39, 39, 39);
}
.S_Trend2{
    margin-top: 10px;
}
.S_Trend_square{
    margin-top: 20px;
    margin-left: 23px;
    width: 340px;
    height: 140px;
    background-color: rgb(120, 120, 120);
    float:left;
    border-radius: 3px;
}
.S_Trend_square1{
    text-align: left;
    clear: both;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 14pt;
}
.S_Trend_square2{
    text-align: left;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 24pt;
}
.S_Trend_square3{
    text-align: right;
    margin-right: 15px;
    margin-top: 30px;
    font-size: 16pt;
}
.S_Trend_Graph{
    margin-top: 5px;
    margin-left: 10px;
    width: 320px;
    height: 6px;
    background-color:rgb(33, 33, 33);
    float: left;
}
.S_Trend_Graph2{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    width: 150px;
    height: 6px;
    background-color: rgb(244,216,35);
    float: left;
}
.S_Trend_avg{
    width: 70px;
    height: 50px;
    font-size: 10pt;
    text-align: center;
    margin-left: 100px;
    clear: both;
  }
.S_Trend_Tri{
    width: 0px;
    height: 0px;
    border-bottom: 10px solid rgb(33, 33, 33);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: 2px;
    margin-left: 23px;
    padding-top: 2px;
  }
.S_Trend_avg1{
    clear: both;
}
.S_Skill{
    margin-top: 15px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    width: 750px;
    height: auto;
    text-align: center;
    background-color: rgb(83, 83, 83);
    border-radius: 3px;
}
.S_Skill0{
    width: 750px;
    height: 40px;
    font-size: 17pt;
    display: inline-block;;
    background-color: rgb(120, 120, 120);
    padding-top: 5px;
    border-radius: 3px 3px 0px 0px / 3px 3px 0px 0px ;
}
.S_Skill1{
    margin-left: 30px;
}
.S_Skill_tab{
    margin-top: 20px;
    float: left;
    margin-left: 30px;
    font-size: 17pt;
}
.S_Skill_img{
    width: 80px;
    vertical-align: text-top;
    clear: both;
    margin-bottom: -3px;
    border-radius: 2px 2px 0px 0px / 2px 2px 0px 0px ;
}
.S_Skill_key{
    clear: both;
}
.S_Skill2{
    clear: both;
    font-size: 15pt;
}
.S_Skill2_keyname{
    display: inline-block;
    width: 250px;
    float: left;
    background-color: rgb(120, 120, 120);
    margin-top: 10px;
}
.S_Skill2_name{
    display: inline-block;
    width: 500px;
    background-color: rgb(120, 120, 120);
    margin-top: 10px;
}
.S_Skill2_info{
    white-space: pre-line;
    font-size: 12pt;
    margin-top: 15px;
}
.S_right{
    width: 390px;
    max-width: 390px;
    padding-bottom: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 9pt;
    background-color: rgb(83, 83, 83);
    text-align: center;
    border-radius: 3px;
}
.S_right2{
    width: 390px;
    max-width: 390px;
    padding-bottom: 20px;
    float: left;
    margin-top: 5px;
    margin-left: 9pt;
    background-color: rgb(83, 83, 83);
    text-align: center;
    border-radius: 3px;
}
.S_item1{
    display: inline-block;
    width: 390px;
    height: 40px;
    font-family: "Big Shoulders Stencil Display";
    font-size: 23pt;
    padding-top: 5px;
}
.S_item_tab_banner{
    background-color: rgb(120, 120, 120);
    height: 33px;
}
.S_item_tab_banner2{
    background-color: rgb(120, 120, 120);
    height: 33px;
    border-radius: 3px 3px 0px 0px / 3px 3px 0px 0px;
}
.S_item_tab1{
    width: 390px;
    font-size: 14pt;
    padding-bottom: 3px;
    border-bottom: rgb(244,216,35) solid;
}
.S_item_tab{
    width: 78px;
    float: left;
    font-size: 12pt;
    margin-top: 3px;
    padding-bottom: 2px;
}
.S_item_sort{
    float: left;
    font-size: 10pt;
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 5px;
}
.S_item_sort1{
    float: left;
    width: 40px;
    margin-left: 21px;
}
.S_item_sort2{
    float: left;
    width: 40px;
    margin-left: 85px;
}
.S_item_sort3{
    float: left;
    width: 60px;
    margin-left: 75px;
}
.S_item_sort4{
    float: left;
    width: 60px;
    margin-left: 2px;
}
.S_item_sort_b{
    float: left;
    font-size: 10pt;
    display: inline-block;
    padding-top: 8px;
    margin-bottom: 5px;
}
.S_item_sort_b1{
    float: left;
    width: 40px;
    margin-left: -57px;
}
.S_item_sort_b2{
    float: left;
    width: 40px;
    margin-left: 73px;
}
.S_item_sort_b3{
    float: left;
    width: 80px;
    margin-left: 107px;
}
.S_item_rank{
    clear: both;
    font-size: 11pt;
    height: 40px;
    vertical-align: middle;
    margin-top: 5px;
    text-align: left;
    background-color: rgb(120, 120, 120);
    display: table;
}
.S_item_rank1{
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    font-size: 15pt;
    margin-left: 25px;
    text-align: center;
}
.S_item_rank2{
    vertical-align: middle;
    display: inline-block;
    width: 65px;
    margin-left: 15px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
}
.S_item_rank3{
    display: table-cell;
    width: 128px;
    height: 40px;
    font-size: 11pt;
    text-align: center;
    vertical-align: middle;
    
}
.S_item_rank4{
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 10pt;
    color:  rgb(39, 39, 39);
}
.S_item_rank5{
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    margin-left: 18px;
    text-align: center;
    font-size: 10pt;
    color:  rgb(39, 39, 39);
    padding-right: 15px;
}
.S_item_rank6{
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    margin-left: 58px;
    text-align: center;
    font-size: 10pt;
    color:  rgb(39, 39, 39);
    padding-right: 29px;
}

