@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'congruency3d';
    src: url('fonts/congruency3d-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
  margin: 0;
  background-color: rgb(23, 21, 32);
  font-family: "Noto Sans KR", "noto sans sc";
  font-weight: 300;
  color: rgb(209, 209, 209);
}
/* ADs */
.Ad_box_L{
    position: absolute;
    top: 480px;
    right: calc(50vw + 615px);
}
.Ad_box_R{
    position: absolute;
    top: 480px;
    left: calc(50vw + 615px);
}
.Ad_box_Main{
    width: 300px;
    height: 250px;
    margin-left: 45px;
    margin-top: 30px;
}
.Ad_box_Detail{
    width: 728px;
    height: 90px;
    margin-left: 11px;
    margin-top: 15px;
}
/* all pages */
input:focus{
    outline: none;
}
input::placeholder{
    color: rgb(209, 209, 209);
    opacity: 1;
    margin-left: 2px;
    font-family: "noto sans kr";
    font-weight: 300;
}
a{
    color: rgb(209, 209, 209);
    text-decoration: none;
}
.chasearch::placeholder{
    color: rgb(209, 209, 209);
    opacity: 1;
    margin-left: 2px;
    font-size: 10pt;
    padding-left: 5px;
    font-weight: 400;
}
.S_search1::placeholder{
    color: rgb(209, 209, 209);
}
button:focus{
    outline: none;
}
button:hover{
    cursor: pointer;
}
.tabHeaders :hover{
    cursor: pointer;
}
.tabHeaders2 :hover{
    cursor: pointer;
}
.tabHeaders3 :hover{
    cursor: pointer;
}
.S_search3 :hover{
    cursor: pointer;
    background-color:  rgba(0,0,0,0);
}
.footer{
    width: 1150px;
    margin-top: 50px;
    border-top: 2px solid rgb(58, 58, 58);
    text-align: left;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
}
.footer_logo{
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    float: left;
}
.footer_button{
    border-color: rgba(0,0,0,0);
    background-color:  rgba(0,0,0,0);
    border-radius: 0px;
    font-size: 13pt;
    font-weight: bold;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}
.footer_span{
    float: left;
    font-size: 12pt;
    text-align: left;
    display: inline-block;
    width: 900px;
    height: 90px;
    margin-top: 15px;
    margin-left: 15px;
    white-space: pre-line;
}
.rank_span_tooltip{
    visibility: hidden;
    width: 200px;
    background-color: rgb(23, 21, 32);
    position: absolute;
    z-index: 1;
    font-size: 10pt;
    white-space: pre-line;
    word-break: keep-all;
    border-radius: 10px;
    color:white;
    font-weight: 300;
    padding: 5px;
    word-spacing: 5px;
    text-align: center;
}
.item_span_tooltip{
    visibility: hidden;
    width: 200px;
    background-color: rgb(23, 21, 32);
    position: absolute;
    z-index: 1;
    font-size: 10pt;
    white-space: pre-line;
    word-break: keep-all;
    border-radius: 10px;
    color:white;
    font-weight: 300;
    padding: 5px;
    word-spacing: 3px;
    text-align: center;
}
.S_item_tooltip2{
    visibility: hidden;
    min-width: 200px;
    background-color: rgb(23, 21, 32);
    position: absolute;
    z-index: 1;
    font-size: 10pt;
    white-space: pre-line;
    word-break: keep-all;
    border-radius: 10px;
    color:white;
    font-weight: 300;
    padding: 5px;
    text-align: center;
    margin-top: 17px;
}
.S_item_tooltip3{
    visibility: hidden;
    min-width: 200px;
    background-color: rgb(23, 21, 32);
    position: absolute;
    z-index: 1;
    font-size: 10pt;
    white-space: pre-line;
    word-break: keep-all;
    border-radius: 10px;
    color:white;
    font-weight: 300;
    padding: 5px;
    text-align: center;
    margin-top: 38px;
}
.S_skill_tooltip{
    visibility: hidden;
    width: 200px;
    background-color: rgb(23, 21, 32);
    position: absolute;
    z-index: 1;
    font-size: 10pt;
    white-space: pre-line;
    word-break: keep-all;
    border-radius: 10px;
    color:white;
    font-weight: 300;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
}
.rank_span:hover .rank_span_tooltip{
    visibility: visible;
}
.S_item1:hover .item_span_tooltip{
    visibility: visible;
}
.S_item_toolbox:hover .S_item_tooltip2{
    visibility: visible;
}
.S_item_toolbox1:hover .S_item_tooltip3{
    visibility: visible;
}
.S_skill_toolbox:hover .S_skill_tooltip{
    visibility: visible;
}
.rank_span{
    display: inline-block;
    width: 100px;
    margin-left: 5px;
}
.S_item_toolbox{
        vertical-align: middle;
        display: inline-block;
        width: 63px;
        height: 36.9px;
        margin-left: 15px;
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
        border-radius: 2px;
        position: relative;
}
.S_item_toolbox1{
    vertical-align: middle;
    display: inline-block;
    width: 63px;
    height: 36.9px;
    margin-left: 15px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
    position: relative;
}
.S_skill_toolbox{
    width: 78px;
    vertical-align: text-top;
    clear: both;
    margin-bottom: -3px;
    border-radius: 2px 2px 0px 0px / 2px 2px 0px 0px ;
}
/* main page */
.mainpage_banner {
    background-color : #262335;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #241b2f;
}
.mainpage_logo {
    padding-top: 50px;
    width: 400px;
    margin: auto;
}
.mainpage_langauge{
    padding-bottom: 13px;
}
.mainpage_buttons{
    width: 950px;
    text-align: left;
    margin: auto;
    margin-top: -5px;
}
.mainpage_button{
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border: none;
    color: rgb(209, 209, 209);
    font-size: 13pt;
    font-weight: 600;
    float: right;
}
.mainpage_search{
    width: 600px;
    height: 50px;
    background-color: #262335;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid #241b2f;
    position: relative;
}
.mainpage_search_select{
    width: 60px;
    height: 40px;
    background-color: rgb(209, 209, 209);
    border-radius: 50px;
    font-size: 14pt;
    position: absolute;
    top: 5px;
    left: 5px;
}
.mainpage_search_selectCircle{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    border: none;
    top: 2px;
    left: 2px;
}
.mainpage_search_selectimg{
    width: 56px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50px;
}
.mainpage_search_box{
    background-color: rgba(0,0,0,0);
    border:none;
    font-size: 16pt;
    margin-left: 80px;
    margin-top: 13px;
}
.mainpage_ad{
    width: 970px;
    height: 250px;
    background-color: white;
    margin: auto
}
/* 1 page */
.banner {
    background-color: rgb(38, 35, 53);
    height: 450px;
    width: 100%;
    text-align: center;
    min-width: 1152px;
    border-bottom: 1px solid #241b2f;
}
.language {
    width: 150px;
    padding-left: 10px;
    padding-top: 15px;
    text-align: left;
    float: left;
}
.langaugelogo{
    width: 25px;
    float: left;
}
.langaugebutton{
    width: 90px;
    color: rgb(209, 209, 209);
    border-color: rgba(0,0,0,0);
    background-color: rgb(38, 35, 53);
    border-radius: 0px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 3px;
    margin-top: -3px;
}
.langaugebutton2{
    width: 90px;
    background-color:  rgba(0,0,0,0);
    border-radius: 3px;
    font-size: 17px;
}
.banner-top {
    width: 1152px;
    margin: auto;
}
.logo {
    width: 400px;
    padding-top: 15px;
    margin-left: -150px;
}
.menubutton{
    width: 100px;
    border-color: rgba(0,0,0,0);
    background-color:  rgba(0,0,0,0);
    border-radius: 0px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(209, 209, 209);
    margin-left: -30px;
}
.banner-menu{
    margin: auto;
    width: 1130px;
}
.banner-botton{
    word-spacing: 20px;
    width: 565px;
    float: left;
    text-align: left;
}
.Data-period{
    width: auto;
    float: right;
    text-align: right;
    margin-top: 5px;
    margin-right: -10px;
}
.newimg{
    height: 12px ;
    width: 25px;
    float: right;
    margin-top: 8px;
    margin-right: 5px;
}
.main{
    text-align: center;
    margin: auto;
    margin-top: 25px;
    width: 1152px;
    overflow: hidden;
}
.main-left{
    float: left;
    width: 390px;
    border-radius: 3px;
}
.search{
    background-color: rgb(38, 35, 53);
    width: 390px;
    height: 37px;
    border-radius: 3px;
}
.search1{
    width: 350px;
    height: 22px;
    float: left;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    font-size: 13pt;
    margin-top: 6px;
    color: rgb(209, 209, 209);
}
.cha{
    margin-top: 7px;
    background-color: rgb(38, 35, 53);
    width: 390px;
    height: auto;
    padding-bottom: 20px;
    border-radius: 3px;
    border-bottom: 1px solid #3b4147;
}
.cha0{
    background-color: rgb(35, 27, 47);
    width: 390px;
    height: 36px;
    font-size: 17pt;
    padding-top: 6px;
    border-radius: 3px 3px 0px 0px / 3px 3px 0px 0px ;
    border-bottom: 1px solid#171520;
}
.cha1{
    margin-top: 6px;
    height: 30px;
}

.cha2{
    padding-top: 3px;
}
.chasearch{
    float: right;
    border-color: rgba(0,0,0,0);
    background-color: rgb(38, 35, 53);
    color: rgb(209, 209, 209);
    padding-right: 5px;
    width: 310px;
    height: 16px;
    border-radius: 3px;
    margin-top: 3px;
    margin-right: 34px;
    padding-bottom: 4px;
    border-bottom: 3px solid #3b4147;
}
.cha3{
    padding-top: 15px;
    clear: right;
}
.cha4{
    height: 125px;
}
.cha5{
    margin:auto;                    
    width: 95px;
    height: 125px;
    float: left;
    margin-left: 34px;
    margin-right: -15px;
}
.chaimg{
    width: 95px;
    background-color: rgb( 23, 21, 32);
    border: 1px solid #3b4147;
    border-radius: 2px;
}
.chaname{
    display: inline-block;
    width: 95px;
    margin-top: -5px;
    font-size: 12pt;
    text-align: center;
    color: rgb(209, 209, 209);
    float: left;
}
.chaimg-blank{
    width: 95px;
}
.main-right{
    float: right;
    background-color: #2d3336;
    width: 750px;
    height: auto;
    padding-bottom: 10px;
    border-radius: 0px 0px 3px 3px / 0px 0px 3px 3px ;
    background-color: rgb(38, 35, 53);
}
.rank0{
    height: 44px;
    font-family: 'Big Shoulders Stencil Display';
    background-color: rgb(35, 27, 47);
    border-bottom: 1px solid rgb(23, 21, 32);
}
.rank0-1{
    float: right;
    width: 450px;
    text-align: center;
    font-size: 23pt;
    padding-top: 4px;
    word-spacing: 20px;
}
.question_logo{
    float: right;
    width: 20px;
    margin-top: 7px;
    margin-left: -15px;
}
.rank0-2{
      float: right;
      width: 150px;
      padding-top: 0px;
      font-size: 11pt;
}
.rank1{
    background-color: rgb(38, 35, 53);
    height: 45px;
    padding-top: -3px;
    border-radius: 3px 3px 0px 0px / 3px 3px 0px 0px ;
}
.rank2{
    background-color: rgb(38, 35, 53);
    height: 30px;
}

.rank3{
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    font-size: 9pt;
    font-weight: 400;
    height: 20px;
    border-bottom: 1px solid #3b4147;
}
.rank-1{
    margin-top: 1px;
    background-color:  rgb(38, 35, 53);
    text-align: left;
    border-bottom: 1px solid #3b4147;
    border-radius: 8px;
    height: 56px;
}
.rank-1 a {
    color:rgb(209, 209, 209);
}
.rank3rank{
    display: inline-block;
    width: 75px;
    text-align: center;
}
.rank3cha{
    display: inline-block;
    width: 180px;
    text-align: center;
}
.rank3weapon{
    display: inline-block;
    width: 50px;
    text-align: center;
}
.rank3tier{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3win{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3pick{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3kill{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3avg{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.rank3rank1{
    text-align: center;
    vertical-align: middle;
    font-family: 'congruency3d';
    font-size: 20pt;
    display: inline-block;
    width: 90px;
    margin-left: -5px;
}
.rank3Updown{
    text-align: center;
    vertical-align: middle;
    width: 10px;
    margin-left: -20px;
}
.rank3Updown1{
    text-align: center;
    font-size: 10pt;
    display: inline-block;
    width: 5px;
    margin-left: -2px;
    margin-right: 25px;
}
.rank3new{
    width: 18px;
    height: 10px;
    margin-right: 24px;
    margin-left: -20px;
}
.rank3cha1{
    vertical-align: middle;
    width: 48px;
    margin-left: -10px;
    border-radius: 100%;
    margin-top: 3px;
    background-color: #171520;
    border: 1px solid #3b4147;
}
.rank3chaname{
    text-align: center;
    width: 100px;
    display:inline-block;
}
.rank3weapon1{
    vertical-align: middle;
    width: 40px;
    border-radius: 7px;
    margin-left: 8px;
    border: 1px solid #3b4147;
}
.rank3tier1{
    vertical-align: middle;
    width: 45px;
    margin-left: 21px;
    overflow: hidden;
}

.rank3win1{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    margin-left: 18px;
}
.rank3pick1{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
}
.rank3kill1{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 74px;
}
.rank3avg1{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
}
.tabHeaders .actived {
    border-bottom: 1px solid rgb(244,216,35);
    color: white;
}
.tabHeaders2 .actived {
    border: 1px solid rgb(244,216,35);
    color: white;
}
.tabHeaders3 .actived {
    border: 1px solid rgb(244,216,35);
    color: white;
}
.tabHeader0 {
    width: 75px;
    float: left;
    font-size: 12pt;
    padding-top: 21px;
    padding-bottom: 4px;
    color: gray;
}
.tabHeader1 {
    width: 249.75px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16pt;
    color: gray;
    border-bottom: 1px solid #3b4147;
}
.tabHeader2 {
    width: 150px;
    float: left;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 11pt;
    color: gray;
    border-bottom: 1px solid #3b4147;
}
.tabHeader3 {
    width: 40px;
    float: left;
    margin-top: 4px;
    margin-left: 8px;
    padding-bottom: 2px;
}
.tri{
    width: 0px;
    height: 0px;
    border-bottom: 22px solid transparent;
    border-left: 22px solid rgb(244,216,35);
    float: left;
    margin-top: 5px;
    margin-left: 5px;
  }
 .trirank{
    width: 0px;
    height: 0px;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(244,216,35);
    float: left;
    margin-right: 8px;
    margin-top: 0px;
    margin-left: -10px;
  }
  .trisearch{
    width: 0px;
    height: 0px;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(244,216,35);
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: -8px;
  }
/* 2 page */
.S_banner{
    background-color: rgb(38, 35, 53);
    height: 80px;
    text-align: center;
    min-width: 1160px;
    border-bottom: 1px solid #241b2f;
}
.S_banner-top{
    width: 1152px;
    margin: auto;
}
.S_mainlogo {
    width: 100px;
    float: left;
}
.S_logo {
    width: 80px;
    padding-top: 0px;
    margin-left: 376px;
}
.S_search{
    background-color: rgb(23, 21, 32);
    float: right;
    margin-top: 45px;
    height: 30px;
    width: 300px;
    border-radius: 3px;
    border-bottom: 1px solid #3b4147;
}
.S_search1{
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    font-size: 11pt;
    margin-top: 5px;
    float: left;
    width: 300px;
    padding-left: 10px;
    color:gray;
    color: rgb(209, 209, 209);    
}
.S_search3{
    background-color: rgb(38, 35, 53);
    position: absolute;
    margin-top: 77px;
    margin-left: 852px;
    width: 300px;
    font-size: 13pt;
    padding-top: 1px;
    padding-bottom: 3px;
    text-align: left;
    border-radius: 3px;
    z-index: 1;
    max-height: 260px;
    overflow: scroll;
}
.S_search4{
    width: 300px;
    height: 45px;
    background-color: rgb(38, 35, 53);
    margin-top: 2px;
    border-bottom: 1px solid #3b4147;
}
.searchimg{
    height: 40px;
    border-radius: 100%;
    margin-left: 30px;
    margin-right: 20px;
    float: left;
    border: 1px solid #3b4147;
}
.searchfont{
    display: inline-block;
    width: 125px;
    padding-top: 8px;
    float: left;
    font-weight: 400;
    text-align: center;
}
.S_main{
    width: 1152px;
    margin: auto;
    margin-top: 40px;
    min-height: 1555px;
    overflow: hidden;
}
.S_top{
}
.S_top-cha{
    float:left;
    width: 180px;
    position: relative;
}
.S_top-cha1{
    width: 180px;
    background-color: rgb(38, 35, 53);
    border-radius: 100%;
    position: relative;
    border: 3px solid #007fd3;
}
.S_top-cha2{
    width: 60px;
    margin-top: -6px;
    left: 10px;
    position: absolute;
    top: 14px;
}
.S_top-cha3{
    display: inline-block;
    margin-top: 5px;
    margin-left: 30px;
    width: 250px;
    font-size: 35pt;
    text-align: center;
    float: left;
    text-align: left;
    color: white;
}
.S_top-box{
    width: 550px;
    float: left;
}
.tabHeader4{
    width: 60px;
    height: 60px;
    color: gray;
    float: left;
    margin-left: 40px;
    margin-right: -20px;
    margin-top: 15px;
    border: 1px solid #3b4147;
}
.tabHeaders2{
    clear: both;
    float: left;
}
.tabHeaders3{
}
.S_top-weapon1{
    width: 60px;
    
}
.S_top-weapon2{
    display: inline-block;
    margin-top: -5px;
    margin-left: 2px;
    width: 60px;
    font-size: 14pt;
    text-align: center;
    color: rgb(209, 209, 209);
}
.S_top-stat{
    width: 170px;
    height: 185px;
    float:  right;
    margin-top: 0px;
    margin-left: 15px;
    border-radius: 3px;
}
.S_top-stat1{
    width: 170px;
    height: 27px;
    background-color: rgb(35, 27, 47);
    float: right;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 5px;
    padding-top: 3px;
    border-bottom: 1px solid rgb(244,216,35);
}
.S_top-stat2{
    clear: both;
    float: left;
    text-align: left;
    margin-left: 11px;
    margin-top: 0px;
    color: rgb(189, 189, 189);
    font-weight: 300;
    font-size: 11pt;
}
.S_top-stat3{
    float: right;
    text-align: center;
    margin-right: 11px;
    margin-top: 0px;
    color: rgb(189, 189, 189);
    font-weight: 300;
    font-size: 11pt;
}
.S_Data-period{
    width: 565px;
    clear: both;
    float: right;
    text-align: right;
}
.S_left{
    width: 750px;
    clear: both;
    padding-top: 10px;
    float: left;
}
.S_Trend{
    height: 450px;
    background-color: rgb(38, 35, 53);
    text-align: center;
    border-radius: 3px;
    border-bottom: 1px solid #3b4147;
}
.S_Trend0{
    width: 750px;
    height: 40px;
    font-family: "Big Shoulders Stencil Display";
    font-size: 23pt;
    padding-top: 5px;
    float: right;
    background-color: rgb(35, 27, 47);
    border-bottom: 1px solid rgb(23, 21, 32);
}
.S_Trend_Text{
}
.S_Trend_tab{
    font-family: "Big Shoulders Stencil Display";
    float: right;
    padding-top: 0px;
    margin-left: -150px;
    color: gray;
}
.tabHeader5{
    width: 75px;
    float: left;
    padding-top: 17px;
    color: gray;
    font-size: 12pt;
    padding-bottom: 4px;
}
.S_Trend1{
    height: 45px;
    background-color: rgb(38, 35, 53);
    clear: both;
}
.tabHeader6{
    width: 250px;
    float: left;
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 16pt;
    color: gray;
    border-bottom: 1px solid #3b4147;
}
.S_Trend2{
    margin-top: 10px;
}
.S_Trend_square{
    margin-top: 20px;
    margin-left: 23px;
    width: 340px;
    height: 140px;
    background-color: rgb(35, 27, 47);
    float:left;
    border-radius: 5px;
    border-bottom: 1px solid #3b4147;
}
.S_Trend_square1{
    text-align: left;
    clear: both;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 14pt;
}
.S_Trend_square2{
    text-align: left;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 24pt;
}
.S_Trend_square3{
    text-align: right;
    margin-right: 15px;
    margin-top: 30px;
    font-size: 16pt;
}
.S_Trend_Graph{
    margin-top: 5px;
    margin-left: 10px;
    width: 320px;
    height: 4px;
    background-color:rgb(23, 21, 32);
    float: left;
    border-radius: 3px;
}
.S_Trend_Graph2{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    width: 150px;
    height: 4px;
    background-color: rgb(244,216,35);
    float: left;
    border-radius: 3px;
}
.S_Trend_avg{
    width: 70px;
    height: 50px;
    font-size: 10pt;
    text-align: center;
    margin-left: 100px;
    clear: both;
  }
.S_Trend_Tri{
    width: 0px;
    height: 0px;
    border-bottom: 10px solid rgb(35, 132, 244);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: 2px;
    margin-left: 23px;
    padding-top: 2px;
  }
.S_Trend_avg1{
    clear: both;
}
.S_Skill{
    margin-top: 15px;
    padding-bottom: 20px;
    width: 750px;
    height: auto;
    text-align: center;
    background-color: rgb(38, 35, 53);
    border-radius: 3px;
    border-bottom: 1px solid #3b4147;
    height: 500px;
}
.S_Skill0{
    width: 750px;
    height: 40px;
    font-size: 17pt;
    display: inline-block;;
    background-color: rgb(38, 35, 53);
    padding-top: 5px;
    border-radius: 3px 3px 0px 0px / 3px 3px 0px 0px ;
    background-color: rgb(35, 27, 47);
    border-bottom: 1px solid rgb(23, 21, 32);
}
.S_Skill1{
    margin-left: 30px;
}
.S_Skill_tab{
    margin-top: 10px;
    float: left;
    margin-left: 30px;
    font-size: 17pt;
    
}
.S_Skill_img{
    width: 78px;
    vertical-align: text-top;
    clear: both;
    margin-bottom: -3px;
    border: 1px solid #3b4147;
    border-radius: 5px;
}
.S_Skill_key{
    clear: both;
}
.S_Skill2{
    clear: both;
    font-size: 15pt;
    padding-top: 2px;
    height: 32px;
    background-color: rgb(35, 27, 47);
    width: auto;
    border-bottom: 1px solid rgb(23, 21, 32);
}
.skill_title{
    display: inline-block;
    width: 250px;
    float: left;
    margin-top: 10px;
    background-color: rgb(35, 27, 47);
    border-bottom: 1px solid rgb(23, 21, 32);
}
.skill_tab{
    display: block;
    width: 250px;
    float: left;
    padding-top: 3px;
    padding-bottom: 6px;
    height: 24px;
    font-size: 15pt;
    color: gray;
    border-bottom: 1px solid #3b4147;
}
.skill_imgbox{
    clear: both;
    text-align: center;
    position: relative;
}
.skill_img {
    vertical-align: middle;
    display: inline-block;
    background-color: rgb(35, 27, 47);
    width: 23px;
    height: 23px;
    border-radius: 4px;
    font-size: 12pt;
    margin-top: -6px;
    margin-left: -1px;
    font-weight: 400;
    border: 1px solid#171520;
}
.skill_span{
    width: 44px;
    height: 44px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 23px;
    font-size: 21pt;
    border: solid 1px  rgb(244,216,35);
    border-radius: 5px;
}
.skill_mark1{
    position: absolute;
    color:  rgb(244,216,35);
    top: 23px;
    left: 275px;
    font-size: 22pt;
}
.skill_mark2{
    position: absolute;
    color:  rgb(244,216,35);
    top: 23px;
    left: 367px;
    font-size: 22pt;
}
.skill_mark3{
    position: absolute;
    color:  rgb(244,216,35);
    top: 23px;
    left: 459px;
    font-size: 22pt;
}
.skill_box0{
    clear: both;
    margin-top: 5px;
    text-align: center;
}
.skill_td {
    margin-top: 0px;
}
.skill_level{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 4px;
    background-color: rgb(38, 35, 53);
    font-size: 13pt;
    margin-top: 10px;
}
.skill_tr {
    display: inline-block;
    background-color: rgb(35, 27, 47);
    margin-left: 4px;
    width: 23px;
    height: 23px;
    border-radius: 4px;
    font-size: 12pt;
    font-weight: 400;
    border: 1px solid #171520;
}
.skill_T {
    display: inline-block;
    background-color: rgb(23, 21, 32);
    color: rgb(170, 170, 170);
    border: 1px solid 520;
}
.skill_Q{
    display: inline-block;
    background-color: rgb(23, 21, 32);
    color: rgb(224, 54, 11);
}
.skill_W{
    display: inline-block;
    background-color: rgb(23, 21, 32);
    color: rgb(71, 172, 40);
}
.skill_E{
    display: inline-block;
    background-color: rgb(23, 21, 32);
    color: #007fd3;
}
.skill_R{
    display: inline-block;
    background-color: rgb(23, 21, 32);
    color: rgb(244, 178, 35);
}
.S_right{
    width: 390px;
    max-width: 390px;
    padding-bottom: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 9pt;
    text-align: center;
    border-radius: 3px;
    background-color: rgb(38, 35, 53);
    border-bottom: 1px solid #3b4147;
}
.S_right2{
    width: 390px;
    max-width: 390px;
    padding-bottom: 20px;
    float: left;
    margin-top: 5px;
    margin-left: 9pt;
    background-color: rgb(38, 35, 53);
    text-align: center;
    border-radius: 3px;
    border-bottom: 1px solid #3b4147;
}
.S_item0{
    overflow: hidden;
    width: 390px;
    background-color: rgb(35, 27, 47);
    border-bottom: 1px solid rgb(23, 21, 32);
}
.S_item1{
    display: inline-block;
    width: 100px;
    margin-left: 5px;
    height: 40px;
    font-family: "Big Shoulders Stencil Display";
    font-size: 23pt;
    padding-top: 5px;
}
.S_item_tab_banner{
    background-color: rgb(38, 35, 53);
    height: 33px;
}
.S_item_tab_banner2{
    background-color: rgb(35, 27, 47);
    height: 30px;
    border-radius: 3px 3px 0px 0px / 3px 3px 0px 0px;
}
.S_item_tab1{
    width: 390px;
    font-size: 14pt;
    padding-bottom: 3px;
    border-bottom: 1px rgb(244,216,35) solid;
}
.S_item_tab{
    width: 78px;
    float: left;
    font-size: 12pt;
    margin-top: 3px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(23, 21, 32);
    background-color: rgb(35, 27, 47);
}
.S_item_sort{
    float: left;
    font-size: 10pt;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: rgb(38, 35, 53);
    border-bottom: 1px solid #3b4147;
}
.S_item_sort1{
    float: left;
    width: 40px;
    margin-left: 21px;
}
.S_item_sort2{
    float: left;
    width: 40px;
    margin-left: 85px;
}
.S_item_sort3{
    float: left;
    width: 60px;
    margin-left: 75px;
}
.S_item_sort4{
    float: left;
    width: 77px;
    margin-left: -8px;
}
.S_item_sort_b{
    float: left;
    font-size: 10pt;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-bottom: 5px;
    border-bottom: 1px solid #3b4147;
}
.S_item_sort_b1{
    float: left;
    width: 40px;
    margin-left: 20px;
}
.S_item_sort_b2{
    float: left;
    width: 40px;
    margin-left: 85px;
}
.S_item_sort_b3{
    float: left;
    width: 100px;
    margin-left: 105px;
}
.S_item_rank{
    width: 390px;
    clear: both;
    font-size: 11pt;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    background-color: rgb(38, 35, 53);
    display: table;
    border-bottom: 1px solid #3b4147;
    border-radius: 8px;
}
.S_item_rank1{
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    font-size: 15pt;
    margin-left: 25px;
    text-align: center;
}
.S_item_rank2{
    vertical-align: middle;
    display: inline-block;
    width: 63px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #3b4147;
    position: absolute;
    right: 0px;;
    
}
.S_item_rank3{
    display: table-cell;
    width: 128px;
    height: 40px;
    font-size: 11pt;
    text-align: center;
    vertical-align: middle;
    
}
.S_item_rank4{
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 10pt;
}
.S_item_rank5{
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    margin-left: 18px;
    text-align: center;
    font-size: 10pt;
    padding-right: 15px;
}
.S_item_rank6{
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    margin-left: 58px;
    text-align: center;
    font-size: 10pt;
    padding-right: 29px;
}
/* 3 page */
.map_main{
    width: 1152px;
    min-height: 850px;
    background-color: rgba(38, 35, 53);
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 0px 0px 3px 3px;
    padding-bottom: 25px;
    border-bottom: 1px solid #3b4147;
}
.map_title{
    text-align: center;
    background-color: rgba(35, 27, 47);
    font-family: "Big Shoulders Stencil Display";
    font-size: 23pt;
    padding-top: 5px; 
}
.map_title_span{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin-right: 24px;
}
.map_left{
    position: relative;
    width: 700px;
    height: 700px;
    float: right;
}
.mapimg{
    width: 700px;
}
.map_square{
    width: 430px;
    background-color: rgb(35, 27, 47);
    float:left;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border: 1px solid #3b4147;
}
.map_tab0{
    text-align: center;
    font-size: 14pt;
    height: 35px;
    width: 576px;
    float: left;
    background-color: rgba(38, 35, 53);
    font-family: "Noto Sans KR", "noto sans sc";
    padding-top: 4px;
    border-bottom: 1px solid #3b4147;
    margin-bottom: 25px;
}
.map_tab{
    width: 430px;
    height: 35px;
    border-radius: 3px 3px 0px 0px;
    text-align: center;
    font-size: 15pt;
    margin-bottom: 5px;
    padding-top: 5px;
    background-color: rgb(23, 21, 32);
    border-bottom: 1px solid #3b4147;
}
.map_tab2{
    width: 430px;
    height: 25px;
    text-align: center;
    font-size: 13pt;
    margin-bottom: 5px;
    margin-top: 115px;
    padding-bottom: 3px;
    background-color: rgb(23, 21, 32);
    border-bottom: 1px solid #3b4147;
    border-top: 1px solid #3b4147;
}
.map_item_locale{
    display: inline-block;
    width: 73px;
    height: 40.33px;
    margin-left: 11px;
    margin-top: 3px;
    position: relative;
}
.map_img_item{
    width: 73px;
    position: absolute;
}
.map_img_item2{
    vertical-align: middle;
    display: inline-block;
    width: 73px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #3b4147;
    position: absolute;
    right: 0px;;
}
.map_img_animal{
    width: 88px;
    margin-left: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #3b4147;
    float: left;
}
.map_right{
    width: 452px;
    float: right;
    margin-top: 25px;
}
.map_Archery{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 210px;
    left: 115px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Alley{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 140px;
    left: 230px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Temple{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 225px;
    left: 450px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Avenue{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 240px;
    left: 320px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_School{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 275px;
    left: 180px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Hotel{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 335px;
    left: 100px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Beach{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 450px;
    left: 90px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Dock{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 620px;
    left: 290px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Uptown{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 545px;
    left: 160px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Forest{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 450px;
    left: 220px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Chapel{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 530px;
    left: 325px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Cemetery{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 440px;
    left: 360px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Hospital{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 410px;
    left: 500px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Pond{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 330px;
    left: 400px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Factory{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 565px;
    left: 450px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.map_Research{
    position: absolute;
    background-color: rgba(38, 35, 53);
    width: 120px;
    font-size: 15pt;
    text-align: center;
    top: 365px;
    left: 260px;
    box-shadow: 2px 2px 10px 3px black;;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.Route_L{
    margin-left: 10px;
    width: 750px;
    height: 900px;
    float: left;
}
.Route_L_Item{
    width: 750px;
    height: 210px;
    border-radius: 5px;
}
.Route_L_ItemX{
    text-align: center;
}
.Route_L_StartItem_box{
    width: 110px;
    float: left;
    margin-top: 10px;
    text-align: center;
}
.Route_L_StartItem{
    position: relative;
    width: 110px;
    height: 81px;
}
.Route_L_StartItem :hover{
    cursor: pointer;
}
.Route_L_StartItem1{
    width: 40px;
    margin-left: 28px;
    border: 1px solid #3b4147;
    border-radius: 5px;
    margin-left: 0px;
    margin-top: 10px;
}
.Route_L_StartItem2{
    position: absolute;
    top: 53px;
    left: 5px;
    display:inline-block;
    width: 100px;
}
.Route_L_PickItem_box{
    position: relative;
    float: left;
    width: 200px;
    height: 92px;
    margin-left: 5px;
    margin-top: 5px;
    border-bottom: 1px solid #171520;
    border-radius: 3px;
    background-color:  #241b2f;
}
.Route_L_PickItem_box :hover{
    cursor: pointer;
}
.Route_L_PickItem{
    position: absolute;
    width: 200px;
    height: 90px;
    margin-top: 5px;
}
.Route_L_PickItem1{
    position: absolute;
    top:5px;
    left:65px;
    margin-top: 5px;
    border: 1px solid #3b4147;
    border-radius: 3px;
}
.Route_L_PickItem2{
    position: absolute;
    top:8px;
    left:66px;
    margin-top: 3px;
}
.Route_L_PickItem3{
    position: absolute;
    display: inline-block;
    width: 200px;
    font-size: 14pt;
    top: 57px;
    left: 0px;
}
.Route_L_StartItem_dropbox_all{
    position: absolute;
    max-height: 400px;
    overflow: scroll;
    border-radius: 5px;
    background-color: #171520;
    z-index: 1;
}
.Route_L_StartItem_dropbox{
    width: 110px;
    height: 70px;
    border-bottom: 1px solid #3b4147;
    position: relative;
    border-radius: 5px;
}
.Route_L_StartItem_dropbox :hover{
    cursor:pointer;
}
.Route_L_StartItem_dropbox1{
    position: absolute;
    top: 5px;
    left: 34px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_L_StartItem_dropbox2{
    position: absolute;
    top: 50px;
    left: 5px;
    font-size: 10pt;
    text-align: center;
    display: inline-block;
    width: 100px;
}
.Route_L_PickItem_dropbox_all{
    position: absolute;
    max-height: 400px;
    overflow: scroll;
    border-radius: 5px;
    margin-top: 95px;
    background-color: #171520;
}
.Route_L_PickItem_dropbox :hover{
    cursor:pointer;
}
.Route_L_PickItem_dropbox{
    position: relative;
    width: 200px;
    height: 65px;
    z-index: 1;
    margin-top: 0px;
    border-bottom: 1px solid #3b4147;
    border-radius: 5px;
}
.Route_L_PickItem_dropbox0{
    position: absolute;
    width: 200px;
    height: 55px;
    margin-top: 5px;
}
.Route_L_PickItem_dropbox1{
    position: absolute;
    top: 0px;
    left: 68px;
    border: 1px solid #3b4147;
    border-radius: 3px;
}
.Route_L_PickItem_dropbox2{
    position: absolute;
    top: 1px;
    left: 69px;
    border-radius: 3px;
}
.Route_L_PickItem_dropbox3{
    position: absolute;
    font-size: 10pt;
    text-align: center;
    display: inline-block;
    width: 200px;
    left: 0px;
    top: 45px;
}
.Route_L_Route{
    width: 750px;
    margin-top: 10px;
    height: 630px;
    border-radius: 5px;
}
.Route_L_Route_FilterX{
    clear: both;
}
.Route_L_Route_cal{
    display: inline-block;
    width: 100px;
    height: 25px;
    margin-left: 6px;
    margin-top: 0px;
    margin-bottom: 15px;
    float: left;
    text-align: center;
    background-color:  #241b2f;
    border-bottom: solid 1px #171520;
    border-radius: 5px;
}
.Route_L_Route_Filter{
    display: inline-block;
    width: 100px;
    height: 25px;
    margin-left: 6px;
    margin-top: 0px;
    margin-bottom: 15px;
    float: left;
    text-align: center;
    border-bottom: solid 1px #3b4147;
    border-radius: 5px;
}
.Route_L_Route_Filter2{
    display: inline-block;
    width: 100px;
    height: 25px;
    margin-left: 6px;
    margin-bottom: 5px;
    float: left;
    text-align: center;
    border-bottom: solid 1px #3b4147;
    border-radius: 5px;
}
.Route_L_Route_Filter_dropbox_all{
    width: 100px;
    max-height: 300px;
    background-color:  #171520;
    margin-top: 5px;
    border-radius: 5px;
}
.Route_L_Route_Filter_dropbox{
    border-radius: 5px;
    border-bottom: solid 1px #3b4147;
}
.Route_L_RouteX_all{
    margin-top: 30px;
    width: 750px;
    height: 600px;
    background-color: #241b2f;
    border-radius: 5px;
    border-bottom: 1px solid #171520;
    overflow-y: scroll;
}
.Route_L_RouteX{
    padding-top: 5px;
    width: 750px;
    height: 115px;
    border-bottom: solid 1px #3b4147;
    border-radius: 5px;
}
.Route_L_RouteY{
    float: left;
    margin-left: 6px;
}
.Route_L_Route_region{
    width: 100px;
    display: inline-block;
    text-align: center;
}
.Route_L_Route_item_bigbox{
    width: 100px;
    min-height: 57px;
    max-height: 86px;
}
.Route_L_Route_item_box{
    width: 48px;
    height: 26.6px;
    position: relative;
    float: left;
    margin: 1px;
}
.Route_L_Route_item1{
    width: 48px;
    position: absolute;
}
.Route_L_Route_item2{
    width: 48px;
    position: absolute;
}
.Route_R{
    width: 372px;
    margin-left: 10px;
    float: left;
}
.Route_R_stat{
    width: 372px;
    height: 200px;
    border-radius: 5px;
    background-color:  #241b2f;
    border-bottom: 1px solid #171520;
}
.Route_R_stat_title{
    width: 372px;
    font-size: 15pt;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}
.Route_R_Map{
    width: 372px;
    height: 630px;
    margin-top: 20px;
    border-radius: 5px;
}
.Route_R_Mapimg_box{
    width: 370px;
    height: 425px;
    margin-bottom: 10px;
    position: relative;
}
.Route_R_Mapimg_box .actived{
}
.Route_R_Mapimg{
    width: 370px;
    margin-bottom: 10px;
    position: absolute;
}
.Route_R_Mapimg_archery{
    position: absolute;
    top: 60px;
    left: 47px;
}
.Route_R_Mapimg_alley{
    position: absolute;
    top: -2px;
    left: 103px;
}
.Route_R_Mapimg_school{
    position: absolute;
    top: 87px;
    left: 81px;
}
.Route_R_Mapimg_hotel{
    position: absolute;
    top: 131px;
    left: 2px;
}
.Route_R_Mapimg_beach{
    position: absolute;
    top: 214px;
    left: 15px;
}
.Route_R_Mapimg_forest{
    position: absolute;
    top: 173px;
    left: 80px;
}
.Route_R_Mapimg_uptown{
    position: absolute;
    top: 268px;
    left: 65px;
}
.Route_R_Mapimg_pond{
    position: absolute;
    top: 133px;
    left: 203px;
}
.Route_R_Mapimg_temple{
    position: absolute;
    top: 67px;
    left: 249px;
}
.Route_R_Mapimg_hospital{
    position: absolute;
    top: 180px;
    left: 270px;
}
.Route_R_Mapimg_chapel{
    position: absolute;
    top: 268px;
    left: 148px;
}
.Route_R_Mapimg_factory{
    position: absolute;
    top: 280px;
    left: 238px;
}
.Route_R_Mapimg_dock{
    position: absolute;
    top: 329px;
    left: 132px;
}
.Route_R_Mapimg_cemetery{
    position: absolute;
    top: 217px;
    left: 179px;
}
.Route_R_Mapimg_research{
    position: absolute;
    top: 167px;
    left: 129px;
}
.Route_R_Mapimg_avenue{
    position: absolute;
    top: 62px;
    left: 146px;
}
.Route_R_Mapspan_box{
    width: 370px;
    margin-bottom: 10px;
    position: absolute;
}
.Route_R_Mapspan_box .actived{
    border: 1px solid rgb(244,216,35);
}
.Route_R_Mapspan_box :hover{
    cursor: pointer;
}
.Route_R_Mapspan_archery{
    position: absolute;
    top: 90px;
    left: 47px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_alley{
    position: absolute;
    top: 38px;
    left: 153px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_school{
    position: absolute;
    top: 127px;
    left: 81px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_hotel{
    position: absolute;
    top: 161px;
    left: 30px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_beach{
    position: absolute;
    top: 265px;
    left: 30px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_forest{
    position: absolute;
    top: 233px;
    left: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_uptown{
    position: absolute;
    top: 325px;
    left: 65px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_pond{
    position: absolute;
    top: 163px;
    left: 203px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_temple{
    position: absolute;
    top: 125px;
    left: 279px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_hospital{
    position: absolute;
    top: 220px;
    left: 270px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_chapel{
    position: absolute;
    top: 298px;
    left: 148px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_factory{
    position: absolute;
    top: 330px;
    left: 238px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_dock{
    position: absolute;
    top: 359px;
    left: 132px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_cemetery{
    position: absolute;
    top: 260px;
    left: 179px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_research{
    position: absolute;
    top: 197px;
    left: 129px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_avenue{
    position: absolute;
    top: 92px;
    left: 176px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
}
.Route_R_Mapspan_archery1{
    position: absolute;
    top: 90px;
    left: 17px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_alley1{
    position: absolute;
    top: 38px;
    left: 123px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_school1{
    position: absolute;
    top: 127px;
    left: 51px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_hotel1{
    position: absolute;
    top: 161px;
    left: 0px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_beach1{
    position: absolute;
    top: 265px;
    left: 0px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_forest1{
    position: absolute;
    top: 233px;
    left: 50px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_uptown1{
    position: absolute;
    top: 325px;
    left: 35px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_pond1{
    position: absolute;
    top: 163px;
    left: 173px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_temple1{
    position: absolute;
    top: 125px;
    left: 249px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_hospital1{
    position: absolute;
    top: 220px;
    left: 240px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_chapel1{
    position: absolute;
    top: 298px;
    left: 118px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_factory1{
    position: absolute;
    top: 330px;
    left: 208px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_dock1{
    position: absolute;
    top: 359px;
    left: 102px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_cemetery1{
    position: absolute;
    top: 260px;
    left: 149px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_research1{
    position: absolute;
    top: 197px;
    left: 999px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #171520;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapspan_avenue1{
    position: absolute;
    top: 92px;
    left: 146px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #241b2f;
    border-radius: 5px;
    border: 1px solid #3b4147;
    color: rgb(244,216,35);
}
.Route_R_Mapitem_title{
    width: 372px;
    font-size: 15pt;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Route_R_Mapitem_allbox{
    width: 372px;
    height: 236px;
    background-color:  #241b2f;
    border-bottom: 1px solid #171520;
    border-radius: 5px;
    margin-top: 3px;
}
.Route_R_Mapitem_box{
    position: relative;
    width: 65px;
    height: 36px;
    margin-top: 5px;
    margin-left: 6.5px;
    float: left;
    border-radius: 3px;
    border: 1px solid #3b4147;
}
.Route_R_Mapitem1{
    position: absolute;
    border-radius: 3px;
}
.Route_R_Mapitem2{
    position: absolute;
    border-radius: 3px;
}



